.admin-detail-container {
    position: fixed;
    top: var(--header-height);
    bottom: var(--footer-height);
    left: 0;
    right: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

.back-button-wrapper {
    /* display: block; */
    gap: 1rem;
    margin-top: 7px;
    margin-left: 0.2rem;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    height: 48px;
}

.back-button {
    background-color: #fea270ad;
    color: white;
    border: none;
    width: 48px;
    height: 48px;
    margin-bottom: 0 !important;
    padding-bottom: 3px !important;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title {
    margin: 0 !important;
    padding: 0 !important;
    /* padding-bottom: 10px; */
    color: #6c6c6c;
    font-size: 25px;
}

.detail-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-content-body {
    box-sizing: border-box;
    /* padding-left: 1rem; */
}

.edit-btn-container {
    display: block;
    /* flex-direction: column; */
    text-align: right;
    gap: 1rem;
}

.edit-btn {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.edit-btn img {
        width: 40px;
        height: 40px;
    }

    .edit-btn:hover {
        transform: scale(1.1);
    }

    /* 테이블 바디 영역 -----------------*/
    .content-table-container {
        padding: 15px 0px !important;
        max-width: 100%;
        overflow-x: auto;
        /* padding-right: 1rem; */
    }

    /* .content-table {
    display: block;
} */
    .content-table {
        width: 100%;
        max-width: 700px;
        table-layout: fixed;
        border-collapse: collapse;
    }

    /*칼럼 부분*/
    .content-table th {
        width: 15%;
        /* padding: 7px 12px; */
        text-align: center;
        font-size: 13px;
        background-color: #f3f3f3;
        font-weight: 600;
        color: #646464;
        white-space: nowrap;
        border: 1px solid #ddd;
    }

    /*값 부분*/
    .content-table td {
        width: 85%;
        /* padding: 7px 12px; */
        text-align: left;
        font-size: 13px;
        background-color: #ffffff;
        font-weight: 600;
        color: #646464;
        white-space: normal;
        border: 1px solid #ddd;
        /* 헤더는 항상 모든 border 있음 */
    }

    .content-table td {
        color: #555;
    }