:root {
  --header-height: 70px;
  --footer-height: 40px;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFAC7;
  padding: 0 3.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.header-logo {
  max-height: 50px;   
  width: auto;
  object-fit: contain;
  cursor: pointer;
}

.greeting-text {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px; /* 요소들 사이 간격 추가 */ 
}

.header-right .start-button {
  background-color: #FEA270;
  color: #fff;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 999px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.header-right .start-button:hover {
  transform: scale(1.05);
  background-color: #f68d4e;
}

/* .start-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(254, 162, 112, 0.4);
} */
