
.recommend-section {
  padding: 2rem;
  text-align: center;
  background-color: #FFFFFF;
}

.recommend-section h2 {
  font-size: 1.8rem;
  margin-left: -200px;
  color: #67B98A;
  margin-bottom: 2rem;
}

.level-buttons {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.level-buttons button {
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 24px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: #000;
  background-color: #eee;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 0;
}

.level-buttons button:hover {
  opacity: 0.9;
  transform: scale(1.05);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.level-buttons button:active {
  top: 2px;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.level-buttons .selected {
  border: none;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 0 3px #89837B inset;
}

.level-buttons .selected.A1 { background-color: #FFB7B7; }
.level-buttons .selected.A2 { background-color: #FEE8D2; }
.level-buttons .selected.B1 { background-color: #FFF5BA; }
.level-buttons .selected.B2 { background-color: #DAF2CB; }
.level-buttons .selected.C1 { background-color: #D3F7FF; }
.level-buttons .selected.C2 { background-color: #E7CBF2; }

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.image-box img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.image-box img:hover {
  transform: scale(1.05);
}

.image-title {
  margin-top: 0.5rem;
  font-weight: 600;
}
