body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  overflow: hidden;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr 1fr auto auto;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.parent > div {
  border-radius: 12px;
  margin-top: 0;
}

/* 처음부터 읽기 */
.div1 {
  grid-area: 1 / 1 / 2 / 4;
}

.read-start {
  font-size: 0.8rem;
  font-weight: bold;
  color: #137DFE;
  padding: 0px 20px 9px 20px;
  cursor: pointer;
  position: relative;
  top: 30px;
  left: 5px;
}

/* 헤더 타이틀 */
.div2 {
  grid-area: 1 / 1 / 2 / 13;
  background: #FFFAC7;
  height: 70px;
  margin-bottom: 20px;
}

.story-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
}

/* 문법 영역 */
.div4 {
  grid-area: 4 / 1 / 5 / 4;
  margin-left: 20px;
  background-color: #FEFBE0;
  border: 2px solid #fdf5a9;
  overflow-y: auto;
  max-height: 220px;
  padding-bottom: 1rem;
}

.div5 {
  grid-area: 4 / 4 / 5 / 7;
  margin: 10px 15px 0px 20px;
  background-color: #FEFBE0;
  border: 2px solid #fdf5a9;
  overflow-y: auto;
  max-height: 220px;
  padding-bottom: 1rem;
}

/* 문법, 단어 공통 스타일 */
.grammar h4,
.voca h4 {
  color: #4caf50;
  margin: 10px 20px 20px 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.grammar p,
.voca p {
  font-size: 0.95rem;
  color: #444;
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


/* 언어 선택 */
.div6 {
  grid-area: 2 / 7 / 2 / 10;
  background: #DBE9D3;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  flex-wrap: wrap;
  margin: 0px 20px 20px 0px;
  border-radius: 12px;
  border: #b7df9f 2px solid;
}

.lang-select {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem 1.5rem;
  justify-content: center;
}

.lang-select label {
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.lang-select input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #DBE9D3;
  cursor: pointer;
  position: relative;
}

.lang-select input[type="radio"]:checked {
  background-color: #DBE9D3;
  border-color: #ffffff;
}

.lang-select input[type="radio"]:checked::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
